<form>

  <div class="form-group">
    <div>
      <label for="columnOrder">CSV Column Order - Drag to reorder</label>
      <div id='default-order' class="well">
        <div ng-repeat='column in csv.columns' ui-sortable ng-model='csv.columns'>
          <div class="column-tab">
            <div class='column-title'>{{ column.name }}</div>
          </div>
        </div>
      </div>
    </div>

    <label for="clientName">Client Name</label>
    <input ng-model='csv.clientName' type="text" class='form-control' name="clientName" placeholder="Client name to define in feed header">
    <br>
    <label for="CSVinput">CSV</label>
    <textarea ng-model='csv.csvInput' name="CSV" rows="8" cols="40" class='form-control' placeholder='Paste CSV here'></textarea>
  </div>
</form>

<div>
  <button ng-click='csv.stringToJSON()' ui-sref='json' type="button" class="btn btn-primary">Convert</button>
</div>
