<h5>XML</h5>
<div class="well">
  <p>
    <span><strong> &ltHere's your XML&gt</strong></span>
    <br>

      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dolores qui esse placeat illum eveniet laboriosam corrupti commodi possimus deleniti quam voluptas nam voluptatibus molestias odio eos eum, incidunt vero!</span>
      <span>Laborum ut iusto quidem ipsam, ullam adipisci? Natus sint dolorum minus quisquam nemo at modi laudantium voluptatum ipsam amet, excepturi, eum nobis, commodi nam similique. Laborum placeat, odit qui dolorem!</span>
      <span>Corporis libero nam debitis quae! Hic fuga labore amet beatae nulla, placeat velit mollitia. Labore tenetur, voluptatem recusandae, illum quibusdam quam odit totam unde alias at quisquam distinctio necessitatibus voluptatibus.</span>

    <br>
    <span><strong> &lt/Here's your XML&gt</strong></span>
  </p>
</div>
<div>
  <button ui-sref='home' type="button" class="btn btn-danger">Try Again</button>
</div>
